<% content_for "#{@messages.first.class.to_s}_pagination" do -%>
  
  <div style="margin-bottom: 5mm;"><%= link_to("new", :action => "new") %></div>
  
  <% @messages.each do |message| -%>
    <%= render(:partial => "shared/summary", :locals => {:entity => message, :show_who => true}) %>
  <% end -%>
  
<% end -%>

<%= render(:partial => "shared/pagination", :locals => {:entities => @messages, :pages => @messages_pages}) %>