<%= render(:partial => "pagination", :locals => {:pages => @messages_pages, :objects => @messages}) %>

<%= link_to("new", :action => "new") %>

<div id="paginated_area">
  <% @messages.each do |message| -%>
    <%= render(:partial => "message", :locals => {:message => message}) %>
  <% end -%>
</div>

<%= render(:partial => "pagination", :locals => {:pages => @messages_pages, :objects => @messages}) %>