<div id="paginated_area">

  <%= render(:partial => "pagination", :locals => {:paginator => @messages_pages}) %>
  
  <div style="margin-bottom: 5mm;"><%= link_to("new", :action => "new") %></div>
  
  <% @messages.each do |message| -%>
    <%= render(:partial => "shared/summary", :locals => {:entity => message, :show_who => true}) %>
  <% end -%>
  
</div>