<% 
=begin
locals
  is_complete
=end %>
<% is_complete = 1 if is_complete -%>
<% is_complete = 0 unless is_complete -%>
<span class=bracketComplete<%= is_complete %>>
  <% if 1 == is_complete -%>
    (bracket complete)
  <% else -%>
    (bracket incomplete)
  <% end -%>
</span>
<script>
  new Effect.Grow('bracketComplete')
</script>