<% content_tag :table do -%>
  <% content_tag :tr do -%>
    <% content_tag :td do %>
      <%= content_tag :div, region.to_s, :class => 'regionName', :style => "text-align: #{left_or_right};" %>
      <%= content_tag(:table,
                      printable_game_partial(region.championship_game, left_or_right),
                      :cellpadding => 15,
                      :border => 0) %>
    <% end -%>
  <% end -%>
<% end -%>
