<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  
  <head>
    <title>ordinaryzelig.org - printable bracket - <%= @pool_user.user.display_name %> (<%= @season.year %>)</title>
    <style type="text/css" media="all">
      .regionName{
        font-size: 125%;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <% # page. -%>
    <div style="width: 11in; height: 8.5in; text-align: center; font-size: 10pt;">
      
      <% # header. -%>
      <% content_tag :div, :style => 'font-size: 150%; font-weight: bold' do -%>
        ordinary zelig<br/>
        march madness <%= @season.year %><br/><br/>
        <%= @pool_user.user.display_name %><br/>
      <% end -%>
      
      <% # final 4. -%>
      <div style="position: relative; top: 15.5cm;">
        <%= content_tag :span, 'final 4', :class => 'regionName' %>
        <% final_4_region = @season.regions.final_4 -%>
        <table id="final4Region" style="<%= css_centered %> table-layout: fixed; border-collapse: collapse;" width="400">
          <tr>
            <%= game_participants_and_pic final_4_region.championship_game.top, @pool_user, 'left' %>
            <% championship_bid = @pool_user.pics.for_game(final_4_region.championship_game).bid -%>
            <%= content_tag :td, (championship_bid ? h(championship_bid.team.name) : '&nbsp'), :id => 'championshipGame', :align => 'center', :style => 'font-size: 150%; font-weight: bold;' %>
            <%= game_participants_and_pic final_4_region.championship_game.bottom, @pool_user, 'right' %>
          </tr>
        </table>
      </div>
      
      <% # each side. -%>
      <% @season.regions.non_final_4.in_groups_of(2) do |regions| -%>
        <% left_or_right = cycle 'left', 'right' -%>
        <% content_tag :div, :style => "float: #{left_or_right};" do -%>
          <% content_tag :table do -%>
            
            <% # each row of the table that makes each side of the bracket. -%>
            <% regions.each do |region| -%>
              <% content_tag :tr do -%>
                <% content_tag :td do %>
                  <%= content_tag :div, region.to_s, :class => 'regionName', :style => "text-align: #{left_or_right};" %>
                    <%= content_tag(:table,
                                    game_partial(region.championship_game, left_or_right),
                                    :style => "border-collapse: collapse; width: 100%; table-layout: fixed; width: 12cm;",
                                    :cellpadding => 15) %>
                <% end -%>
              <% end -%>
            <% end # row. -%>
            
          <% end -%>
        <% end -%>
        
      <% end # side. -%>
      
    </div>
  </body>
</html>
