<% # add comment. -%>
<div style="margin-bottom: 5mm;">
  <% if logged_in_user -%>
    <%= render(:partial => "comments/comment", :locals => {:entity => entity}) %>
  <% else -%>
    <%= link_to_login("to post comments") %>
  <% end -%>
</div>

<% # comments. %>
<div id="comments">
  <% entity.root_comments.each do |root_comment| -%>
    <%= render(:partial => "comments/comment", :locals => {:comment => root_comment}) %>
  <% end -%>
</div>