<%= error_messages(@user) %>
<% form_tag do -%>
  <table style="background: none;">
    <%= render :partial => "shared/user_form", :locals => {:user => @user} %>
    <tr>
      <td></td>
      <td><%= submit_tag("create") %></td>
    </tr>
  </table>
<% end -%>
