<table border=1>
  <tr>
    <th>season</th>
    <th>current</th>
  </tr>
  <% @seasons.each do |season| -%>
    <tr>
      <td align=center><%= season.tournament_year %></td>
      <td align=center><%= link_to("#{radio_button_tag("season", 1, 1 == season.is_current)}", {:action => "mark_season_current", :id => season.id}, :post => true) %></td>
    </tr>
  <% end -%>
</table>