<% form_tag do -%>
  <% @season.regions.non_final_4.each do |region| %>
    <%= region.name %><br/>
    <% region.games.in_first_round.each do |game| -%>
      <% game.first_round_bids.each do |bid| -%>
        <%= bid.seed %>
        <%= select "bids", bid.id, Team.container, {:selected => bid.team_id, :include_blank => true} %><br/>
      <% end -%>
    <% end %>
    <%= submit_tag("save") %><br/><br/>
  <% end %>
<% end -%>
