form{
    display:inline;
    margin: 0;
}

a{
    color: blue;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

html{
    font-family: Helvetica;
}

#banner{
    font-size: 200%;
    text-align: center;
    padding: 3mm;
    margin-bottom: 3mm;
    background-color: lightblue;
    border: 1px solid black;
}

.errorMessages{
    color: red;
    border: .5mm solid red;
    padding: 2mm;
    background-color: lightgray;
    margin-bottom: 4mm;
}

.flash{
    border-width: 1px;
    border-style: solid;
    padding: 2mm;
    margin-bottom: 2mm;
    margin-top: 2mm;
    text-align: center;
}

#flashnotice{
    color: white;
    background: blue;
}

#flashsuccess{
    color: white;
    background: green;
}

#flashfailure{
    color: white;
    background: red;
}

#sidebar{
    float: left;
    background: lightgray;
    width: 35mm;
    padding: 3mm;
	font-size: 80%;
}

#myBracket{
    font-size: 75%;
}

.listing{
    margin-bottom: 5mm;
    margin-top: 5mm;
    border: 1px solid black;
}

.listingSection{
    padding: 2mm;
    background: white;
}

.listingSubsection{
    margin-left: 10mm;
    margin-right: 10mm;
}

.listingInfo{
    font-size: 10pt;
    color: gray;
}

#preview{
    margin-top: 5mm;
}

#sidebar, #main{
    border: 2px solid black;
}

table{
    border-collapse: collapse;
    background: white;
}

td, th{
    padding: 2mm;
}
