#ratingsTable td{
    text-align: center;
    border: 1px solid black;
}

#ratingsTable th{
    background: lightgray;
    border: 1px solid black;
}

#ratingsTable{
    margin-left: auto; margin-right: auto;
}

.invisibleTableCell{
    background: beige;
    border: none;
}
