#bracketCompletion{
    text-align: center;
    height: 2em;
    margin-bottom: 5mm;
}

.regionName{
    font-size: 150%;
    font-weight: bold;
}

.game{
    display: table;
}

.pic{
    display: table-cell;
    vertical-align: middle;
}

.picResultfalse, .picResulttrue, .gamePicsLink{
    margin-left: 6mm;
    font-size: 75%;
}

.picResultfalse, .gamePicCorrect0{
    color: red;
}

.gamePicInRoundIncorrect, .gamePicInRoundDead, .legendIncorrectPic{
    background-color: red;
}

.picResulttrue, .gamePicCorrect1{
    color: green;
}

.gamePicInRoundCorrect, .legendCorrectPic{
    background-color: green;
}

.legendCorrectPic, .legendIncorrectPic{
    margin: 2mm;
    width: 5mm;
}

.gamePicInRoundIncorrect, .gamePicInRoundDead, .gamePicInRoundCorrect{
    width: 10ex;
}

.bid{
    border-bottom: .5mm solid gray;
}

.teamfalse, .gamePicStillAlivefalse{
    text-decoration: line-through;
}

.gamePic, .gamePicStillAlivefalse{
    font-size: 75%;
}

.standingHeader, .standingMaster, .gamePicsHeader, .gamePicMaster th{
    background-color: lightgray;
}

.standingSelf, .gamePicSelf1{
    background-color: lightblue;
}

#printableBracketLeft{
    float: left;
}

#printableBracketRight{
    float: right;
}

#printableBracketLeft, #printableBracketRight{
    width: 120mm;
}

#championshipGame{
    position: absolute;
    top: 4in;
    left: 5.25in;
}

#championshipGame .printableBid{
    text-align: center;
}

.printableBidleft, .printableBidright, .printableBid{
    width: 20mm;
/*    font-size: 50%;*/
    white-space: nowrap;
    border-bottom: 1px solid #999;
}

.printableBidright{
    float: right;
    clear: right;
}

.printableBidleft{
    float: left;
    clear: left;
}

#tournamentInfo th{
    text-align: right;
}

#pvpTable table{
    background: inherit;
}

.seasonSelect th{
    text-align: right;
    font-weight: normal;
}

.seasonSelect th, .seasonSelect td{
    padding: 1mm;
}

.seasonSelect{
    margin-bottom: 5mm;
    background: none;
}

#scoringSystemsInfo td{
    text-align: center;
}

#legend td{
    padding: 0;
}
