<% movies.each do |movie| -%>
  <%= link_to("#{movie.title}", :controller => "movie", :action => "show", :id => movie.id) %>
  <div style="margin-left: 5mm;">
    <% movie.user_ratings(user).each do |rating| -%>
      <%= link_to "#{rating.rating_type.name}: #{rating}", :controller => "movie", :action => "rating", :id => rating.id %>
      <%= clickable_time(rating.created_at, nil, 'color: gray; font-size: 75%;') %><br/>
    <% end -%>
  </div>
<% end -%>
