<% hide_who ||= false -%>

<% blogs.each do |blog| -%>
  <%= link_to(blog.title, :controller => "blog", :action => "show", :id => blog.id) %> - 
  <span style="font-size: 75%; color: gray;">
    <%= link_to_profile(blog.user) unless hide_who %>
    <%= clickable_time(blog.created_at) %>
  </span><br/>
<% end -%>
