<% unless @reason_not_visible -%>
  
  <div style="padding-bottom: 10mm;">
    <%= link_to("new", :controller => "blog", :action => "new") %>
  </div>
  
  <% @user.blogs.each do |blog| -%>
    <%= render(:partial => 'listing', :locals => {:blog => blog}) %>
  <% end -%>
<% end -%>