<% unless @reason_not_visible -%>
  
  <% if is_self?(@user) -%>
    <div style="padding-bottom: 10mm;"><%= link_to("new", :controller => "blog", :action => "new") %></div>
  <% end -%>
  
  <% @user.blogs.each do |blog| -%>
    <%= render(:partial => 'shared/summary', :locals => {:entity => blog}) %>
  <% end -%>
<% end -%>