<%= error_messages(@movie) %>

<% form_tag do -%>
  
  <table style="background: none;">
    <tr>
      <td>title</td>
      <td><%= text_field(:movie, :title) %></td>
    </tr>
    <% if logged_in_user.is_admin? %>
      <tr>
        <td>imdb id</td>
        <td><%= text_field(:movie, :imdb_id) %></td>
      </tr>
    <% end -%>
    <tr>
      <td></td>
      <td><%= submit_tag(:save) %></td>
    </tr>
  </table>
  
<% end -%>
