<div style="margin-bottom: 10mm;">
  <%= link_to("new movie", :action => "new") %> <span style="font-size: 10pt;">(please search for your movie first)</span>
</div>

<%= render(:partial => "search") %>

<% @movies.each do |movie| -%>
  <%= render(:partial => "shared/summary", :locals => {:entity => movie}) %>
<% end -%>
