<%= render :partial => 'new_movie_link' %>

<%= render(:partial => "search") %>

<% @movies.each do |movie| -%>
  <%= render(:partial => "shared/summary", :locals => {:entity => movie}) %>
<% end -%>
