<%= render(:partial => 'new_movie_link') %>

<%= render(:partial => 'search') %>

<% if params[:id] -%>
  
  <%= pluralize(@movies.size, "movie") %> found<br>
  
  <% @movies.each do |movie| -%>
    <%= link_to(movie.title, :action => "show", :id => movie.id) %><br>
  <% end -%>
  
<% end -%>
