<html style="font-family: Helvetica; margin: 10mm; background: midnightblue;">
  
  <head>
    <%= stylesheet_link_tag "application", "comments", controller.controller_name, :media => "all" %>
    <%= javascript_include_tag :defaults %>
    <script type="text/javascript"><%= yield :scripts %></script>
    <script type="text/javascript" charset="utf-8">
      function switch_time_format(thingy)
      {
        var temp = thingy.innerHTML;
        thingy.innerHTML = thingy.title;
        thingy.title = temp;
        thingy.onclick = switch_time_format(thingy);
      }
    </script>
    <%= auto_discovery_link_tag :rss, url_for(:host => 'development' == RAILS_ENV ? 'lgs056.local:3000' : nil, :only_path => false, :controller => :rss, :action => :user_recents, :id => logged_in_user.secret_id) if logged_in_user %>
    <% default_title = "#{controller.controller_name.gsub("_", " ")} - #{controller.action_name.gsub("_", " ")}" -%>
    <% @page_title ||= default_title %>
    <title>ordinary zelig - <%= @page_title %></title>
  </head>
  
  <body>
    
    <% #=================================================== %>
    <% # sidebar. -%>
    
    <%= render(:partial => "shared/sidebar") %>
    
    <% #=================================================== %>
    <% # main. -%>
    
    <div id="main" style="margin-left: 45mm; padding: 5mm; background: beige;">
    
      <% #=================================================== %>
      <% # flash. -%>
    
      <% if !flash.empty? -%>
        <div id="flash" style="margin-bottom: 10mm; display: none;">
          <% flash.each do |flash_type, msg| -%>
            <div class=flash id="flash<%= flash_type %>">
              <%= msg %>
            </div>
          <% end -%>
        </div>
        <div id="flash_link" style="text-align: right; font-size: 60%; display: none;"><%= link_to_remote("notifications", {:complete => visual_effect(:toggle_blind, 'flash')}) %></div>
        <% content_for :flash_script do -%>
          function show_flash()
          {
            <%= visual_effect :blind_down, 'flash' %>
          }
          function hide_flash()
          {
            <%= visual_effect :blind_up, 'flash', {:queue => 'end'} %>
            <%= visual_effect :appear, 'flash_link', {:queue => 'end'} %>
          }
          show_flash();
          setTimeout("hide_flash()", 5000);
        <% end -%>
      <% end -%>
    
      <% #=================================================== %>
      <% # banner. -%>
    
      <% if yield :banner -%>
        <%= yield :banner %>
      <% else -%>
        <div id="banner">
          <%= @page_title %>
        </div>
      <% end -%>
  
      <% #=================================================== %>
      <% # layout. %>
    
      <div id="layout_content"><%= yield %></div>
    
    </div> <% # end main section. -%>
    
    <% if yield :flash_script -%>
      <script type="text/javascript"><%= yield :flash_script %></script>
    <% end -%>
    
  </body>
  
</html>
