<html style="font-family: Helvetica; margin: 10mm; background: midnightblue;">
  <head>
    <%= stylesheet_link_tag "application", controller.controller_name, :media => "all" %>
    <%= javascript_include_tag :defaults %>
    <title>ordinary zelig - welcome</title>
  </head>
  <body>
    <%= @content_for_layout %>
  </body>
</html>
